<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DRIVESURE</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">

      <img width="60px" height="60px" src="C:\Users\EmirY\Desktop\express-mongodb-crud-master\express-mongodb-crud-master\docs\logo2.png">
      <a class="navbar-brand" href="#">DRIVESURE</a>
      
      
    </nav>
